In [1]:
from selenium import webdriver
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import time
from tqdm import tqdm

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.cars24.com/')

In [4]:
wait = WebDriverWait(driver,10)

## Going to location Page

In [5]:
try:
    loc_btn = wait.until(EC.presence_of_element_located(('class name','_1K8Qe')))
    loc_btn.click()

except:
    set_loc_btn = wait.until(EC.presence_of_element_located(('class name','_2SBi0')))
    set_loc_btn.click()

    loc_btn = wait.until(EC.presence_of_element_located(('class name','_1K8Qe')))
    loc_btn.click()

## Choosing the location

In [6]:
loc_cfm = wait.until(EC.presence_of_element_located(('class name','_1oBNU')))
loc_cfm.click()

## Selecting buy old cars

In [7]:
buy_car_btn = wait.until(EC.presence_of_element_located(('class name','u31Ay')))
buy_car_btn.click()

## Selecting New Delhi

In [8]:
delhi_btn = wait.until(EC.presence_of_element_located(('xpath','//a[@href="https://www.cars24.com/buy-used-cars-new-delhi/"]')))
delhi_btn.click()

In [9]:
driver.maximize_window()

In [10]:
switch = driver.window_handles[0]
driver.switch_to.window(switch)

## Scrolling to All brands

In [11]:
all_brands_ele = wait.until(EC.presence_of_all_elements_located(('class name','_1XyjH')))[-1]
driver.execute_script("arguments[0].scrollIntoView(true);", all_brands_ele)

## Clicking the brands we require

In [12]:
def brand_selector(name):
    brands_ele = wait.until(EC.presence_of_all_elements_located(('class name','rTjwY')))
    checkbox_brands_ele = wait.until(EC.presence_of_all_elements_located(('class name','_2dra0')))
    diff = len(checkbox_brands_ele) - len(brands_ele)
    index = 0
    for brand in brands_ele:
        if brand.text.split('\n')[0].lower() == name.lower():
            break
        index += 1

    if index < len(brands_ele):
        checkbox_brands_ele[diff:][index].click()
        return True
    else:
        print("Sorry we are unable found your desired brand")
        return False

In [13]:
any_car_selected = False

## Taking input of car name(Hyundai)

In [14]:
car_name = "hyundai"
found = brand_selector(car_name)
if found:
    any_car_selected = True

## Extracting Details of Hyundai

In [15]:
def total_models():
    total_model = int(wait.until(EC.presence_of_element_located(('class name','_1Bq4a'))).text.split()[0])
    return total_model

total = total_models()
print(f"The total number of models of {car_name} is {total}")

The total number of models of hyundai is 214

In [16]:
def data_extraction(total_models):
    
    
    for i in range(0,100000,2000):
        driver.execute_script(f"window.scrollTo(0,{i})")
        
        year_models = wait.until(EC.presence_of_all_elements_located(('class name','_11dVb')))
        driven_fuel_types = wait.until(EC.presence_of_all_elements_located(('class name','_3J2G-')))
        prices = wait.until(EC.presence_of_all_elements_located(('class name','_3RL-I')))
        
        if len(year_models)==total_models and len(driven_fuel_types)==total_models and len(prices)==total_models:
            print("Successfully colllected all data")
    
            driver.execute_script("window.scrollTo(0,0)")

            return [year_models,driven_fuel_types,prices]
            
    return []

In [17]:
datas = data_extraction(total)

Successfully colllected all data

In [18]:
def gathering_data(arr1,arr2,arr3):
    years = []
    models = []
    distance_drivens = []
    fuels = []
    transmissions = []
    prices = []

    for data in arr1:
        datas = data.text.split()
        year, model = datas[0]," ".join(datas[1:])
        years.append(year)
        models.append(model)

    for data in arr2:
        datas = data.text.split('\n')
        dist , fuel , typ = datas[0] , datas[1] , datas[2]
        distance_drivens.append(dist)
        fuels.append(fuel)
        transmissions.append(typ)

    for data in arr3:
        prices.append(data.text)

    return years,models,distance_drivens,fuels,transmissions,prices

In [19]:
years1, models1 , distance_drivens1 , fuels1 , transmissions1 , prices1 =  gathering_data(datas[0],datas[1],datas[2])

## Taking input of car name(Honda)

In [20]:
if  any_car_selected:
    found = brand_selector(car_name)
    any_car_selected = False

In [21]:
car_name = "honda"
found = brand_selector(car_name)
if found:
    any_car_selected = True

## Extracting Details of Honda

In [22]:
driver.refresh()
time.sleep(2)

In [23]:
total = total_models()
print(f"The total number of models of {car_name} is {total}")

The total number of models of honda is 107

In [24]:
datas = data_extraction(total)

Successfully colllected all data

In [25]:
years2, models2 , distance_drivens2 , fuels2 , transmissions2 , prices2 =  gathering_data(datas[0],datas[1],datas[2])

## Taking input of car name(Tata)

In [26]:
all_brands_ele = wait.until(EC.presence_of_all_elements_located(('class name','_1XyjH')))[-1]
driver.execute_script("arguments[0].scrollIntoView(true);", all_brands_ele)

In [27]:
if  any_car_selected:
    found = brand_selector(car_name)
    any_car_selected = False

In [28]:
car_name = "tata"
found = brand_selector(car_name)
if found:
    any_car_selected = True

## Extracting Details of Tata

In [29]:
driver.refresh()
time.sleep(2)

In [30]:
total = total_models()
print(f"The total number of models of {car_name} is {total}")

The total number of models of tata is 83

In [31]:
datas = data_extraction(total)

Successfully colllected all data

In [32]:
years3, models3 , distance_drivens3 , fuels3 , transmissions3 , prices3 =  gathering_data(datas[0],datas[1],datas[2])

## Collecting all data in variables

In [44]:
finals = []

In [45]:
for i,j,k,l,m,n in zip(years1,models1,distance_drivens1,fuels1,transmissions1,prices1):
    finals.append([i,"Hyundai",j,k,l,m,n,"New Delhi"])

In [46]:
for i,j,k,l,m,n in zip(years2,models2,distance_drivens2,fuels2,transmissions2,prices2):
    finals.append([i,"Honda",j,k,l,m,n,"New Delhi"])

In [47]:
for i,j,k,l,m,n in zip(years3,models3,distance_drivens3,fuels3,transmissions3,prices3):
    finals.append([i,"Tata",j,k,l,m,n,"New Delhi"])

In [42]:
import pandas as pd

In [49]:
df = pd.DataFrame(finals,columns=['Year','Car','Model','Kilometre Driven','Fuel Type','Transmission Type','Price','Location'])

In [50]:
df.head(5)

,Year,Car,Model,Kilometre Driven,Fuel Type,Transmission Type,Price,Location
0,2015,Hyundai,Hyundai Elite i20 MAGNA 1.2,"66,704 KM",PETROL,MANUAL,₹4.35 Lakh,New Delhi
1,2019,Hyundai,Hyundai Verna 1.6 VTVT SX,"55,921 KM",PETROL,MANUAL,₹7.78 Lakh,New Delhi
2,2017,Hyundai,Hyundai Creta SX PLUS AT 1.6 PETROL,"29,759 KM",PETROL,AUTOMATIC,₹9.00 Lakh,New Delhi
3,2022,Hyundai,Hyundai Creta SX (O) 1.4 TURBO DCT,"40,368 KM",PETROL,AUTOMATIC,₹16.54 Lakh,New Delhi
4,2020,Hyundai,Hyundai VENUE SX 1.0 TURBO,"43,417 KM",PETROL,MANUAL,₹8.31 Lakh,New Delhi

In [51]:
df.to_csv("Car details.csv",index=False)

In [52]:
driver.quit()